<!-- bookings/templates/bookings/availability_dashboard.html -->
{% extends "users/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h2 class="my-4 text-center">My Availability</h2>

  <div class="d-flex justify-content-between my-4">
    {% if previous_week_offset is not None %}
      <a href="{% url 'availability_dashboard' %}?week={{ previous_week_offset }}" class="btn btn-secondary">&larr; Previous Week</a>
    {% else %}
      <a class="btn btn-secondary disabled">&larr; Previous Week</a>
    {% endif %}
    
    <a href="{% url 'availability_dashboard' %}?week={{ next_week_offset }}" class="btn btn-secondary">Next Week &rarr;</a>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for date, form in days_forms %}
    <div class="col">
      <div class="card h-100">
        <div class="card-header text-center">
          <strong>{{ date|date:"F d, Y" }}</strong>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'update_availability' date|date:'Y-m-d' %}">
            {% csrf_token %}
            {{ form.date }}
            <div class="row">
              {% for checkbox in form.timeslot %}
                <div class="col-6 col-md-4">
                  <div class="form-check">
                    {{ checkbox.tag }}
                    <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                      {{ checkbox.choice_label }}
                    </label>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="d-grid gap-2 mt-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">Availability Responsibility</h4>
    <p>By making yourself available, you are responsible for attending bookings with clients. Please be aware of our strike policy:</p>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <h5 class="text-danger">New Cleaners</h5>
        <p>There  will be  a 1-strike policy. Missing a booking will lead to immediate suspension.</p>
      </div>
      <div class="col-sm-6">
        <h5 class="text-success">Established Cleaners</h5>
        <p>Established cleaners benefit from a 3-strike policy, allowing for occasional unforeseen circumstances.</p>
      </div>
    </div>
  </div>
<!-- Pagination Links -->

</div>
{% endblock %}