{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Cleaner Dashboard</h2>
    <form method="post">
        {% csrf_token %}
        {{ rate_form|crispy }}
        <button type="submit" name="update_rates" class="btn btn-primary">Update Rates</button>
    </form>
    <hr>
    <h2>Set Your Availability</h2>
<form method="post">
    {% csrf_token %}
    {% for date, form in forms.items %}
    <div class="card">
        <div class="card-header">
            {{ date|date:"F d, Y" }}
        </div>
        <div class="card-body">
            {{ form.as_p }}
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit Availability</button>
</form>
</div>

{% endblock %}